#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.w-full h-screen flex flex-wrap justify-center items-center bg-cover bg-no-repeat{
  background-image: url('./Image/img1.jpg');
}